* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    padding: 15px;
}

a {
    transition: all .3s ease-in;
}

a:hover,
a:focus,
a:active {}

.mydiv {
    border: 10px solid green;
    width: calc(20% - 10px);
    padding: 30px;
    display: inline-block;
    font-size: 16px;
    /* box-sizing: border-box; */
    vertical-align: top;
    margin: 5px;
}

.myspan {
    border: 2px solid orange;
    width: 300px;
    padding: 30px;
    /* margin: 30px; */
    display: inline-block;
}

.parent {
    font-size: 0;
}